<div class="coefficient-master">
  <div>
    <app-Menu [menuItem]="0"></app-Menu>
  </div>
  <div class="containerr">
    <div class="row" style="text-align: center;margin-bottom: 15px;">
      <h4>Prévisions Pyramidale</h4>
    </div>
    <div style="padding-bottom: 50px;">
      <table class="table-ob">
        <tr class="theader">
          <td></td>
          <td>01-2021</td>
          <td>02-2021</td>
          <td>03-2021</td>
          <td>04-2021</td>
          <td>05-2021</td>
          <td>06-2021</td>
          <td>07-2021</td>
          <td>08-2021</td>
          <td>09-2021</td>
          <td>10-2021</td>
          <td>11-2021</td>
          <td>12-2021</td>
        </tr>
        <tr class="ob-data">
          <td class="title">Objectifs (Dhs)</td>
          <td>{{CurrencyFormat(1500000)}}</td>
          <td>{{CurrencyFormat(1500000)}}</td>
          <td>{{CurrencyFormat(1500000)}}</td>
          <td>{{CurrencyFormat(1500000)}}</td>
          <td>{{CurrencyFormat(1500000)}}</td>
          <td>{{CurrencyFormat(1500000)}}</td>
          <td>{{CurrencyFormat(1500000)}}</td>
          <td>{{CurrencyFormat(1500000)}}</td>
          <td>{{CurrencyFormat(1500000)}}</td>
          <td>{{CurrencyFormat(1500000)}}</td>
          <td>{{CurrencyFormat(1500000)}}</td>
          <td>{{CurrencyFormat(1500000)}}</td>
        </tr>
        <tr class="ob-data">
          <td class="title">Réalisations (Dhs)</td>
          <td>{{CurrencyFormat(1200000)}}</td>
          <td>{{CurrencyFormat(1300000)}}</td>
          <td>{{CurrencyFormat(1300000)}}</td>
          <td>{{CurrencyFormat(1300000)}}</td>
          <td>{{CurrencyFormat(1300000)}}</td>
          <td>{{CurrencyFormat(1300000)}}</td>
          <td>{{CurrencyFormat(1300000)}}</td>
          <td>{{CurrencyFormat(1300000)}}</td>
          <td>{{CurrencyFormat(1300000)}}</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      </table>
      <table class="table-f">
        <tr class="fheader">
          <td style="text-align: left;">Familles</td>
          <td style="width:80px">MIX</td>
          <td style="width:150px">Objectifs</td>
          <td style="width:150px">Réalisations</td>
        </tr>
        <tr class="ob-data">
          <td class="title">Famille 1</td>
          <td>12%</td>
          <td>{{CurrencyFormat(250000)}}</td>
          <td>{{CurrencyFormat(220000)}}</td>
        </tr>
        <tr class="ob-data">
          <td class="title">Famille 1</td>
          <td>12%</td>
          <td>{{CurrencyFormat(250000)}}</td>
          <td>{{CurrencyFormat(220000)}}</td>
        </tr>
        <tr class="ob-data">
          <td class="title">Famille 1</td>
          <td>12%</td>
          <td>{{CurrencyFormat(250000)}}</td>
          <td>{{CurrencyFormat(220000)}}</td>
        </tr>
        <tr class="ob-data">
          <td class="title">Famille 1</td>
          <td>12%</td>
          <td>{{CurrencyFormat(250000)}}</td>
          <td>{{CurrencyFormat(220000)}}</td>
        </tr>
        <tr class="ob-data">
          <td class="title">Famille 1</td>
          <td>12%</td>
          <td>{{CurrencyFormat(250000)}}</td>
          <td>{{CurrencyFormat(220000)}}</td>
        </tr>
        <tr class="ob-data">
          <td class="title">Famille 1</td>
          <td>12%</td>
          <td>{{CurrencyFormat(250000)}}</td>
          <td>{{CurrencyFormat(220000)}}</td>
        </tr>
        <tr class="ob-data">
          <td class="title">Famille 1</td>
          <td>12%</td>
          <td>{{CurrencyFormat(250000)}}</td>
          <td>{{CurrencyFormat(220000)}}</td>
        </tr>
        <tr class="ob-data">
          <td class="title">Famille 1</td>
          <td>12%</td>
          <td>{{CurrencyFormat(250000)}}</td>
          <td>{{CurrencyFormat(220000)}}</td>
        </tr>
        <tr class="ob-data">
          <td class="title">Famille 1</td>
          <td>12%</td>
          <td>{{CurrencyFormat(250000)}}</td>
          <td>{{CurrencyFormat(220000)}}</td>
        </tr>
        <tr class="ob-data-total">
          <td style="text-align: left;padding-left: 10px;">Total</td>
          <td>100%</td>
          <td>{{CurrencyFormat(1500000)}}</td>
          <td>{{CurrencyFormat(1250000)}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
